@import '../../App.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: $white;
}
.pattern-label {
    margin-top: 5px;
    color: black;
    font-size: 14px;
    text-align: center;
}

button {
    display: inline-block;
    width: 100px;
    height: 100px; /* Adjusted to make the button square */
    margin: 10px;
    border-radius: 15px;
    background-color: $delft-blue;
    color: $white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    /* border: 2px solid black;  */
    box-shadow: 4px rgba(0, 0, 0, 1);
    transition: transform 0.1s, box-shadow 0.1s;
    background-size: cover; /* Ensure the background image covers the button */
    background-position: center; /* Center the background image */
}
.pattern-button{
    background-size: cover;
    // color: $white;
}
.close-button{
    color: black;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Fixed the repeat syntax */
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: $grey;
}

.static-colors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cardinal;
    padding: 20px;
    border-radius: 10px;
}