/* SCSS HEX */
$C: #b12a3bff;
$delft-blue: #132f5fff;
$white: #ffffffff;
$grey: #c1c6c8;
$atomic-tangerine: #f68e5fff;

/* SCSS HSL */
$cardinal: hsla(352, 62%, 43%, 1);
$delft-blue: hsla(218, 67%, 22%, 1);
$white: hsla(0, 0%, 100%, 1);
$cambridge-blue: hsla(160, 19%, 51%, 1);
$atomic-tangerine: hsla(19, 89%, 67%, 1);

/* SCSS RGB */
$cardinal: rgba(177, 42, 59, 1);
$delft-blue: rgba(19, 47, 95, 1);
$white: rgba(255, 255, 255, 1);
$cambridge-blue: rgba(108, 154, 139, 1);
$atomic-tangerine: rgba(246, 142, 95, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-right: linear-gradient(90deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-bottom: linear-gradient(180deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-left: linear-gradient(270deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-top-right: linear-gradient(45deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-bottom-right: linear-gradient(135deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-top-left: linear-gradient(225deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-bottom-left: linear-gradient(315deg, #b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);
$gradient-radial: radial-gradient(#b12a3bff, #132f5fff, #ffffffff, #6c9a8bff, #f68e5fff);

/* styles.scss */

/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: $delft-blue;
    align-items: flex-start;
    padding-top: 50px;
}

h1, h2 {
    color: $white;
}

button {
    display: inline-block;
    width: 20vw;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    // background-color: $atomic-tangerine;
    color: $white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px rgba(0, 0, 0, 1);
    transition: transform 0.1s, box-shadow 0.1s;
    background-size: cover; /* Ensure the background image covers the button */
    background-position: center; /* Center the background image */
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* App container styles */
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-height: calc(100vh - 100px); /* Full viewport height minus space for arrows */
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
}

.arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    padding: 0 20px;
}

.left-arrow, .right-arrow {
    font-size: 24px;
    padding: 10px;
    background-color: $cardinal;
    cursor: pointer;
}

button.close-button {
    color: $white;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .app-container {
        padding: 5px;
        max-height: calc(100vh - 60px); /* Adjust to leave space for arrows */
    }

    .left-arrow, .right-arrow {
        font-size: 20px;
        padding: 8px;
    }
}

/* Static colors container styles */
.static-colors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cardinal;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: calc(100vh - 100px); /* Adjust to leave space for arrows */
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Adjust columns to fit available space */
    // gap: 5px;
    // width: 100%;
    border-radius: 4px;
    background-color: $grey;
    max-height: calc(100vh - 100px); /* Adjust to leave space for arrows */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
}
.grid-container input [type="text"] {
    border-radius: 4px;
    background-color: $grey;
    max-height: calc(100vh - 100px); /* Adjust to leave space for arrows */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
    display: block;
}
.rate-limit-message {
    color: $white;
    font-size: 14px;
    margin-top: 10px;
}

/* Custom container styles */
.custom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cardinal;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: calc(100vh - 100px); /* Adjust to leave space for arrows */
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $cardinal;
    color: $white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: transform 0.1s, box-shadow 0.1s;
}

button[type="submit"]:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

button[type="submit"]:active {
    transform: scale(0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.label {
    margin-top: 5px;
    color: black;
    font-size: 14px;
    margin: 1px;
    text-align: center;
}