.container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
}
.arrow-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin-top: 20px;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-height: 40vh; /* Full viewport height */
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
}

.left-arrow, .right-arrow {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .app-container {
        padding: 5px;
    }

    .left-arrow, .right-arrow {
        font-size: 20px;
        padding: 8px;
    }
}